<launch> 

	<arg name="cam_id" default="4"/> 
  <arg name="main_cam" default="cam4"/>

  <!-- rviz -->
  <node name="rviz" type="rviz" pkg="rviz"/>
	<!-- <node name="rviz" type="rviz" pkg="rviz" args="-d $(find projet)/rviz/config/tag_and_camera_visualisation.rviz" /> -->

    <!-- Prefixing tfs -->
  <node name="tf_prefixer" pkg="alvar_tag_tracking" type="tf_prefixer" output="screen" args="/tf0"/>

  <node name="static_transform_publisher" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0 0 0 0 1 /world /cam$(arg cam_id)"/>

	<!-- Listening to AlvarMarkers msgs -->
	<node name="calibration_client" pkg="alvar_tag_tracking" type="calibration_client" output="screen" args="$(arg main_cam)"/>

	<!-- Listening to NewTF msgs -->
	<node name="calibration_server" pkg="alvar_tag_tracking" type="calibration_server" output="screen" args="$(arg main_cam)"/>

	<!-- Node manager -->
	<!-- <node name="key_input" pkg="projet" type="key_input" args="$(arg main_cam) $(arg nb_cam)" output="screen"/> -->

	<!-- Calculate Average Tag Transform -->
	<!-- <node name="average_acquisition" pkg="projet" type="average_acquisition.py" args="$(arg main_cam)" output="screen"/> -->

	<include file="$(find alvar_tag_tracking)/launch/unity_camera.launch">
		<arg name="cam_id" value="4"/>
	</include>

	<include file="$(find alvar_tag_tracking)/launch/unity_camera.launch">
		<arg name="cam_id" value="9"/>
	</include>

  <!-- Controller -->
  <!-- <node name="calibration_gui" pkg="projet" type="calibration_gui" output="log"> -->
  <!-- 	<param name="main_cam" value="$(arg main_cam)"/> -->
  <!-- 	<param name="project_location" value="$(find projet)"/> -->
  <!-- </node> -->
</launch>
